{% extends 'permitter/permitter_base.html' %}
{% block content %}
<h2>Product Purchases</h2>
<table border="1" cellpadding="10">
    <tr>
        <th>Customer</th><th>Product ID</th><th>Name</th><th>Category</th><th>Purchase Date</th><th>Rating</th>
    </tr>
    {% for p in purchases %}
    <tr>
        <td>{{ p.user.name }}</td>
        <td>{{ p.product_id }}</td>
        <td>{{ p.product_name }}</td>
        <td>{{ p.category }}</td>
        <td>{{ p.purchase_date }}</td>
        <td>{{ p.rating }}</td>
    </tr>
    {% endfor %}
</table>
{% endblock %}